<%- include("partials/header"); -%>
<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="mask-icon" href="../logo.png">
    <title><%=dash_user%> Dashboard - Leaf Forums</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="../objects.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

    .main {
        display: flex;
        margin-left: 10vw;
        margin-right: 5vw;
        /* flex-direction: column; */
    }

    .main strong {
        color: rgb(0, 173, 181);
    }

    .main div {
        color: rgb(238, 238, 238);
        display: flex;
        width: 25vw;
        height: 25vw;
        /* letter-spacing: 2px; */
        /* border: 0.1vw solid rgb(80, 80, 80); */
        /* border-radius: 10%; */
        background-color: rgb(57, 62, 70);
        padding: 0%;
        font-size: 3vw;
        font-family: 'Open Sans';
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .user_details h1 {
        font-size: 2vw;
    }

    .user_details p {
        font-size: 2vw;
        /* border: 0.1vw solid rgb(85, 85, 85); */
        background-color: rgb(57, 62, 70);
        width: 30vw;
        text-align: center;
    }

    .cicle1,
    .cicle2,
    .cicle3 {
        border-radius: 50%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* border-color: rgb(71, 71, 71); */
        /* box-shadow: 0.5vw 0.5vw 1vw rgb(133, 133, 133); */
        box-shadow: 0.2vw 0.2vw 0.5vw rgb(138, 138, 138);
        margin-bottom: 5vw;

    }

    .cicle1:hover,
    .cicle2:hover,
    .cicle3:hover {
        border-radius: 50%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* border-color: rgb(71, 71, 71); */
        /* box-shadow: 0.5vw 0.5vw 1vw rgb(133, 133, 133); */
        box-shadow: 0.2vw 0.2vw 1vw rgb(195, 195, 195);
        margin-bottom: 5vw;

    }

    .user_details {
        color: rgb(133, 133, 133);
        display: flex;
        flex-direction: column;
        width: 70vw;
        margin: 0 auto;

    }

    .user_details div {
        display: flex;
        justify-content: space-between;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .user_details {
        font-size: 5vw;
        margin-top: 5vw;
        box-shadow: 0.5vw 0.5vw 1vw rgb(133, 133, 133);
    }

    .user_details h1 {
        font-size: 2vw;
    }

    .user_details h2 {
        font-size: 3vw;
        color: rgb(0, 173, 181);
        text-align: center;
    }

    .user_details p {
        font-size: 2vw;
        background-color: rgb(53, 53, 53);
        width: 30vw;
        text-align: center;
    }

    @media(max-width:800px) {
        .main {
            display: flex;
            margin-left: 15vw;
            margin-right: 0;
            flex-direction: column;
            justify-content: space-around;
        }

        .main div {

            display: flex;
            width: 60vw;
            height: 60vw;
            /* letter-spacing: 2px; */
            /* border: 0.1vw solid rgb(80, 80, 80); */
            /* border-radius: 10%; */
            background-color: rgb(57, 62, 70);
            padding: 0%;
            font-size: 7vw;
            font-family: 'Open Sans';
            position: relative;
            margin-left: 1vw;
            margin-right: 1vw;
        }

        .user_details {
            font-size: 3.5vw;
            width: 90vw;
        }

        .user_details h1 {
            font-size: 3.5vw;
            margin-top: 2vw;
        }

        .user_details h2 {
            font-size: 4vw;
            color: rgb(0, 173, 181);
            text-align: center;
        }

        .user_details p {
            font-size: 3.5vw;
            background-color: rgb(53, 53, 53);
            width: 63vw;
            text-align: center;
        }
    }
</style>

<body>


    <br>
    <div class="container">
        <div class="main">
            <div class="cicle1">

                <p><strong> Discussions <br>Started:</strong></p>
                <p><%=dashdiscount%></p>

            </div>
            <div class="cicle2">

                <p><strong> Upvotes <br>Recieved: </strong>
                    <p><%=upvotes%></p>

            </div>
            <div class="cicle3">

                <p><strong>Posts<br>Done:</strong></p>
                <p><%=commentcount%></p>

            </div>
        </div>
        <br>
        <hr>
        <div class="user_details">
            <h2>USER DETAILS:</h2>
            <div class="username">
                <h1>Username:</h1>
                <p>
                    <%=dash_user%></p>
            </div>
            <div class="email">
                <h1>Email Address:</h1>
                <p>
                    <%=dash_email%></p>
            </div>
            <div class="name">
                <h1>Full Name:</h1>
                <p>
                    <%=dash_name%></p>
            </div>



        </div>
        <br>
        <br><br>
        <h1 class="Heading">YOUR RECENT DISCUSSIONS</h1>
        <% for(var i = 0; i < posts.length; i++) { %>
        <div class="Container">
            <div class="SubHeadingContainer">
                <a class="SubHeading" href="/post/<%= posts[i].title %>"><%= posts[i].title %></a>
            </div>
            <div class="ProfileContainer">
                <div class="ImgDiv" overflow="hidden">
                    <img class="ProfileImg" src="../assets/default_profile_pic.jpg">
                </div>
                <div class="ProfileInfoDiv">
                    <div class="ProfileNameDiv">
                        <a class="ProfileNameA" id="profile_name_a"
                            href="/dashboard/<%=posts[i].user%>"><%= posts[i].user %></a>
                    </div>
                    <div class="ProfileNameDiv" id="date_div">
                        <span class="ProfileNameA" id="date_a"><%= posts[i].date %></span>
                    </div>
                </div>
            </div>
            <p class="BodySpan"><%= posts[i].body %></p>
            <% if(user != "NULL"){ %>
            <div class="ContainerFooter">
                <div class="UpvoteDiv">


                </div>

                <div class="CommentsDiv">


                </div>
            </div>
            <% } %>
        </div>
        <% } %>
        <script>
            var elem = document.getElementsByClassName("BodySpan");
            for (var i = 0; i <= elem.length; i++) {
                var str = elem[i].innerHTML;
                str = str.replace(/char10/g, "<br>")
                elem[i].innerHTML = str;
            }
        </script>

    </div>
</body>

</html>
<%- include("partials/footer"); -%>
