<%- include("partials/header"); -%>
<!-- <head> -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="../objects.css" rel="stylesheet" type="text/css">
<style>
    .PostBody {
        margin-bottom: 1vw;
    }

    .TitleInput {
        margin-bottom: 1vw;
        height: 2vw;
        font-size: 1.5vw;
    }
</style>
<title><%= title %> - Leaf Forums</title>
</head>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <!-- <script src="home.js"></script> -->

    <div class="Container">
        <div class="SubHeadingContainer">
            <a class="SubHeading" href=""><%= title %></a>
        </div>
        <div class="ProfileContainer">
            <div class="ImgDiv" overflow="hidden">
                <img class="ProfileImg" src="https://www.gravatar.com/avatar/<%=img%>>?s=200&d=robohash&r=x">
            </div>
            <div class="ProfileInfoDiv">
                <div class="ProfileNameDiv">
                    <a class="ProfileNameA" id="profile_name_a" href="/dashboard/<%= user_dis %>"><%= user_dis %></a>
                </div>
                <div class="ProfileNameDiv" id="date_div">
                    <span class="ProfileNameA" id="date_a"><%= date %></span>
                </div>
            </div>
        </div>
        <br>
        <span class="BodySpan"><%= body %></span>
        <br>
        <div class="ContainerFooter">
            <div class="UpvoteDiv">
                <a href="/dscthanks/<%=disc_id%>" style=" background : rgba(0,0,00,0);">
                    <div class="UpvoteImg">
                        <img class="UpvoteImg" src="../assets/upvote.png">
                        <img class="UpvoteImg" src="../assets/upvotehover.png">
                    </div>
                </a>
                <div class="NumberOfUpvoteDiv">
                    <span class="ProfileNameA" id="number_of_upvotes"><%= numberOfUpvotes %></span>
                </div>
            </div>

            <div class="CommentsDiv">
                <div class="CommentsImg">
                    <img class="CommentsImg" src="../assets/comments.png">
                    <img class="CommentsImg" src="../assets/commentshover.png">
                </div>
                <div class="TotalCommentsDiv">
                    <span class="ProfileNameA" id="number_of_upvotes"><%= total_posts %></span>
                </div>
            </div>
        </div>
    </div>
    <% for(var i = comments.length - 1; i >= 0; i--) { %>
    <div class="Container">
        <div class="SubHeadingContainer">
            <!-- <a class="SubHeading" href="/comment/<%= comments[i].title %>"><%= comments[i].title %></a> -->
        </div>
        <div class="ProfileContainer">
            <div class="ImgDiv" overflow="hidden">
                <img class="ProfileImg"
                    src="https://www.gravatar.com/avatar/<%=comments[i].img%>>?s=200&d=robohash&r=x">
            </div>
            <div class="ProfileInfoDiv">
                <div class="ProfileNameDiv">
                    <a class="ProfileNameA" id="profile_name_a"
                        href="/dashboard/<%=comments[i].user%>"><%=comments[i].user%> </a>
                </div>
                <div class="ProfileNameDiv" id="date_div">
                    <span class="ProfileNameA" id="date_a"><%= comments[i].date %></span>
                </div>
            </div>
        </div>
        <p class="BodySpan"><%= comments[i].body %></p>
        <div class="ContainerFooter">
            <div class="UpvoteDiv">
                <a href="/cmtthanks/<%=comments[i].comment_id%>" style=" background : rgba(0,0,00,0);">
                    <div class="UpvoteImg">
                        <img class="UpvoteImg" src="../assets/upvote.png">
                        <img class="UpvoteImg" src="../assets/upvotehover.png">
                    </div>
                </a>
                <div class="NumberOfUpvoteDiv">
                    <span class="ProfileNameA" id="number_of_upvotes"><%= comments[i].upvote %></span>
                </div>
            </div>
            <% if(user == comments[i].user) { console.log(comments[i].comment_id); %>
                <div style="display: flex;">
                    <div class="UpvoteDiv">
                        <a href="/dltpost/<%=comments[i].comment_id%>" style="display: transparent">
                            <img class="DeleteImg" src="../assets/delete_logo_white.png">
                        </a>
                    </div>
                    <div class="UpvoteDiv">
                        <button class="PostEditButton" onclick="postEdit('post_edit_form_<%= i %>', 'post_body_<%= i %>')">
                            <img class="DeleteImg" src="../assets/edit_white.png">
                        </button>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- BHARTA add link here -->
        <form action="/editpost/<%=comments[i].comment_id%>" method="post" id="post_edit_form_<%= i %>" style="display: none">
            <div class="Container" id="container_div" style="width: 80%; margin: 0; border:none; box-shadow: none;">
                <label class="SubHeading">Edit</label>
                <textarea id="post_body_<%= i %>" class="PostBody" name="postBody" cols="30" rows="10" required=""><%= comments[i].body %></textarea>
                <input name="post_user" type="text" style="display: none;" value="<%= comments[i].user %>">
                <input class="ButtonSubmit" id="button_submit" type="submit" value="SUBMIT">
            </div>
        </form>
    </div>
    <% } %>

    <% console.log(user);console.log("1234567890"); if(user != null ) {   %>
    <form action="/postcmt/<%=disc_id%>" method="post">
        <div class="Container" id="container_div">
            <label class="SubHeading">Post</label>
            <textarea class="PostBody" name="postBody" cols="30" rows="10" required=""></textarea>
            <input class="ButtonSubmit" id="button_submit" type="submit" value="SUBMIT">
        </div>
    </form>
    <script>
        var elem = document.getElementsByClassName("BodySpan");
        for (var i = 0; i <= elem.length; i++) {
            var str = elem[i].innerHTML;
            str = str.replace(/char10/g, "<br>")
            elem[i].innerHTML = str;
        }

        function postEdit(name, name_post) {
            var form = document.getElementById(name);
            var str = document.getElementById(name_post).innerHTML;
            str = str.replace(/char10/g, "\n");
            form.style.display = "initial";
            document.getElementById(name_post).innerHTML = str;
        }


    </script>
    <br>
    <br>
    <br>
</body>
<% } %>
<%- include("partials/footer"); -%>
