<%- include("partials/header"); -%>
<!-- <head> -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="../objects.css" rel="stylesheet" type="text/css">
<style>
    body {
        font-family: "Arial Black";
    }

    .Heading {
        text-align: center;
        font-size: 2.5vw;
        font-weight: bold;
        color: rgb(137, 0, 250);
    }

    .Container {
        min-height: 1%;
        width: 70%;
        overflow: hidden;
        margin: auto auto;
        padding: 1.5vw 2vw;
        margin-bottom: 1vw;
        background-color: rgb(49, 49, 49);
    }

    .SubHeadingContainer {
        margin: 0 auto;
        margin-bottom: 0.5vw;
    }

    .SubHeading {
        text-align: left;
        text-decoration: none;
        font-size: 2vw;
        background-color: transparent;
        color: white;
        font-weight: bold;
    }

    .SubHeading:hover {
        text-decoration: underline;
    }

    .ProfileContainer {
        display: flex;
        margin-bottom: 0.5vw;
    }

    .ImgDiv {
        border-radius: 100%;
        margin-right: 0.5vw;
        height: 4vw;
        width: 4vw;
        background-color: rgb(137, 0, 250);
        flex: 0 0 auto;
        cursor: pointer;
    }

    .ProfileImg {
        height: 4vw;
        width: 4vw;
        border-radius: 100%;
    }

    .ProfileInfoDiv {
        flex: 1 0 auto;
    }

    .ProfileNameDiv {
        margin-bottom: 0.4vw;
        height: 1.75vw;
        padding: auto 0;
        background-color: transparent;
    }

    .ProfileNameA {
        font-size: 1vw;
        text-align: left;
        text-decoration: none;
        color: white;
        font-family: "Roboto";
        background-color: transparent;
    }

    .ProfileNameA:hover {
        text-decoration: underline;
    }

    #date_div {
        margin-bottom: 0px;
    }

    #date_a {
        color: rgb(113, 112, 114);
        cursor: pointer;
    }

    .BodySpan {
        color: white;
        font-size: 1vw;
        font-family: "Roboto";
        cursor: pointer;
    }


    .PostBody {
        margin-bottom: 1vw;
    }

    .TitleInput {
        margin-bottom: 1vw;
        height: 2vw;
        font-size: 1.5vw;
    }
</style>
</head>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <!-- <script src="home.js"></script> -->

    <div class="Container">
        <div class="SubHeadingContainer">
            <a class="SubHeading" href=""><%= title %></a>
        </div>
        <div class="ProfileContainer">
            <div class="ImgDiv" overflow="hidden">
                <img class="ProfileImg" src="../assets/default_profile_pic.jpg">
            </div>
            <div class="ProfileInfoDiv">
                <div class="ProfileNameDiv">
                    <a class="ProfileNameA" id="profile_name_a" href="/dashboard/<%= user %>"><%= user %></a>
                </div>
                <div class="ProfileNameDiv" id="date_div">
                    <span class="ProfileNameA" id="date_a"><%= date %></span>
                </div>
            </div>
        </div>
        <span class="BodySpan"><%= body %></span>
    </div>


    <% for(var i = comments.length - 1; i >= 0; i--) { %>
    <div class="Container">
        <div class="SubHeadingContainer">
            <!-- <a class="SubHeading" href="/comment/<%= comments[i].title %>"><%= comments[i].title %></a> -->
        </div>
        <div class="ProfileContainer">
            <div class="ImgDiv" overflow="hidden">
                <img class="ProfileImg" src="../assets/default_profile_pic.jpg">
            </div>
            <div class="ProfileInfoDiv">
                <div class="ProfileNameDiv">
                    <a class="ProfileNameA" id="profile_name_a" href="/dashboard/<%=comments[i].user%>"><%=comments[i].user%> </a>
                </div>
                <div class="ProfileNameDiv" id="date_div">
                    <span class="ProfileNameA" id="date_a"><%= comments[i].date %></span>
                </div>
            </div>
        </div>
        <p class="BodySpan"><%= comments[i].body %></p>
        <div class="ContainerFooter">
            <div class="UpvoteDiv">
                <div class="UpvoteImg">
                    <img class="UpvoteImg" src="../assets/upvote.png">
                    <img class="UpvoteImg" src="../assets/upvotehover.png">
                </div>
                <div class="NumberOfUpvoteDiv">
                    <span class="ProfileNameA" id="number_of_upvotes"><%= comments[i].numberOfUpvotes %></span>
                </div>
            </div>
        </div>
        </div>
        <% } %>

        <% console.log(user);console.log("1234567890"); if(user != null ) {   %>
        <form action="http://localhost:8080/post/<%=title%>" method="post">
            <div class="Container" id="container_div">
                <label class="SubHeading">Post</label>
                <textarea class="PostBody" name="postBody" cols="30" rows="10" required=""></textarea>
                <input class="ButtonSubmit" id="button_submit" type="submit" value="SUBMIT">
            </div>
        </form>
</body>
<% } %>
<%- include("partials/footer"); -%>
