<%- include("partials/header"); -%>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Forgot Password</title>
  <style type="text/css">

  </style>
  <style type="text/css">
    html,
    body {
      width: 100%;
      height: 99%;
      margin: 0px;

    }

    body {
      background-color: rgb(34, 40, 49);
    }

    .login_div {
      position: absolute;
      width: 50%;
      height: 50%;
      left: 25%;
      top: 25%;
      background-image: none;
      border-radius: 0.2em;
      padding: 0px;
      background-color: rgb(57, 62, 70);
    }

    .login_p {
      position: absolute;
      text-align: center;
      top: 30%;
      height: 5%;
      font-size: 2.5vw;
      font-weight: bold;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
      left: 25%;
      width: 50%;
    }

    .username_label {
      position: absolute;
      font-weight: bold;
      font-size: 1.5vw;
      text-align: left;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
      width: 50%;
      height: 2%;
      top: 45.5%;
      left: 37.5%;
    }

    .username_input {
      position: absolute;
      width: 25%;
      height: 4%;
      top: 49.5%;
      left: 37.5%;
      font-size: 1vw;
    }

    .signIn_button {
      position: absolute;
      left: 38.17%;
      top: 65.33%;
      background-image: none;
      outline: none;
      border: none;
      border-radius: 10%;
      text-align: center;
      font-size: 1vw;
      cursor: pointer;
      padding: 0.5%;
      color: white;
      font-family: "Open Sans";
      width: 8%;
      height: 6%;
      background-color: rgb(0, 173, 181);
    }



    .signIn_button:hover {
      background-color: rgb(0, 144, 151);
    }

    #login_form {
      display: flow;
    }

    @media(max-width:900px) {
      .login_div {
        position: absolute;
        width: 85%;
        height: 50%;
        left: 10%;
        top: 25%;
        background-image: none;
        border-radius: 0.2em;
        padding: 0px;
        background-color: rgb(57, 62, 70);
      }

      .login_p {
        position: absolute;
        text-align: center;
        top: 30%;
        height: 5%;
        font-size: 5vw;
        font-weight: bold;
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
        left: 25%;
        width: 50%;
      }

      .username_label {
        position: absolute;
        font-weight: bold;
        font-size: 2.5vw;
        /* text-align: left; */
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
        /* width: 50%; */
        /* height: 2%; */
        top: 46.5%;
        left: 22.5%;
      }

      .username_input {
        position: absolute;
        width: 60%;
        height: 5%;
        top: 49.5%;
        left: 22.5%;
        font-size: 2vw;
      }

      .signIn_button {
        position: absolute;
        left: 23.17%;
        top: 65.33%;
        background-image: none;
        outline: none;
        border: none;
        border-radius: 10%;
        text-align: center;
        font-size: 2vw;
        cursor: pointer;
        padding: 0.5%;
        color: white;
        font-family: "Open Sans";
        width: 16%;
        height: 6%;
        background-color: rgb(0, 173, 181);
      }
    }
  </style>
</head>

<body class="htmlNoPages">
  <div class="login_div" id="loginDiv"></div>
  <form id="login_form" action="/forgot-password/<%= input %>" method="post">
    <p class="login_p" id="loginP" style="display:<%= display %>;"><%= heading %></p>
    <label class="username_label" id="Username-Label"><%= subheading %></label>
    <input class="username_input" id="Username-Input" type="text" placeholder="Your <%= input %>"
      style="display:<%= display %>" name="<%= input %>" required="">
    <p id="test" style="color: white;" class=""></p>
    <input name="extra_info" id="Extra-Info" value="<%= heading %>" style="display: none;">
    <input class="signIn_button" id="SignIn-Button" type="submit" value="SUBMIT" style="display:<%= display %>">
  </form>
  <script>
    var elem = document.getElementById("Username-Input");
    if (elem.name == "ans")
      elem.placeholder = "Your Answer";
    else
      elem.placeholder = "Your Username"
  </script>
</body>

</html>
