
<%- include("partials/header"); -%>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="objects.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1 class="Heading">RECENT DISCUSSIONS</h1>
    <script src="home.js"></script>
    <% for(var i = posts.length - 1; i >= 0; i--) { %>
        <div class="Container">
            <div class="SubHeadingContainer">
                <a class="SubHeading" href=""><%= posts[i].title %></a>
            </div>
            <div class="ProfileContainer">
                <div class="ImgDiv" overflow="hidden">
                    <img class="ProfileImg" src="assets/default_profile_pic.jpg">
                </div>
                <div class="ProfileInfoDiv">
                    <div class="ProfileNameDiv">
                        <a class="ProfileNameA" id="profile_name_a" href=""><%= posts[i].user %></a>
                    </div>
                    <div class="ProfileNameDiv" id="date_div">
                        <span class = "ProfileNameA" id="date_a"><%= posts[i].date %></span>
                    </div>
                </div>
            </div>
            <span class="BodySpan"><%= posts[i].body %></span>
        </div>
    <% } %>
</body>

<%- include("partials/footer"); -%>